@tailwind base;
@tailwind utilities;
@tailwind components;

--custom-swiper-navigation-size: 35px;

:root {
    font-family: "Syne", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}
html,
body {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar, .techstack-list::-webkit-scrollbar {
    width: 0.3rem;
}

html body::-webkit-scrollbar-track,
html .techstack-list::-webkit-scrollbar-track {
    background: #e5e7eb;
}

html.dark body::-webkit-scrollbar-track,
html.dark .techstack-list::-webkit-scrollbar-track {
    background: #0f0a2f;
}

html body::-webkit-scrollbar-thumb,
html .techstack-list::-webkit-scrollbar-thumb {
    background: #05d652e8;
    border-radius: 20px;
}

html.dark body::-webkit-scrollbar-thumb,
html.dark .techstack-list::-webkit-scrollbar-thumb {
    background: #63fb9a;
    border-radius: 20px;
}

html .swiper-button-prev, html .swiper-button-next {
    color: #05d652e8;
}

html.dark .swiper-button-prev, html.dark .swiper-button-next{
    color: #63fb9a;
}

html .swiper-pagination-bullet {
    background: #05d652e8;
}

html.dark .swiper-pagination-bullet {
    background: #63fb9a;
}

html .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #05d652e8;
}

html.dark .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #63fb9a;
}

html .swiper-pagination-bullet.swiper-pagination-bullet-active, html.dark .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}

html .swiper-pagination-bullet {
    opacity: 0.3;
}

html .swiper-navigation-size {
    width: calc(35/ 44 * 27);
    height: 35;
    margin-top: calc(0px - (35/ 2));

}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

#blur-overlay {
    transition: backdrop-filter 0.5s ease-in-out;
}

#nav li {
    transition: color, visibility, 0.1s ease-in-out;
}

#nav ul {
    transition: width, visibility, 0.3s ease-in-out;
}

.mobile-nav-open,
.mobile-nav-close {
    transition: transform 0.2s ease-in-out;
}

.theme-toggle::focus {
    transform: translateX(60px);
}

.scale-on-hover {
    transition: transform 1s ease-in-out;
}

.scale-on-hover:hover {
    transform: scale(0.9);
}

.primary-btn,
.secondary-btn {
    transition: color, background, border, transform 0.3s ease-in-out;
}

#my-pic {
    transition: transform, filter, 0.5s ease-in-out;
}

#my-pic:hover {
    transform: scale(1.05);
}

.button-tab::after {
    transition: width 0.3s ease-in-out;
}

.button-tab-item {
    transition: color 0.1s ease-in-out;
}

.techstack-list {
    transition: height 0.2s ease-in-out;
}

.common-btn {
    position: relative;
    /* transition: all 1s; */
    overflow: hidden;
}

.common-btn::before {
    transition: all 1s;
    transform: translateX(-100%)
}

.common-btn:hover::before {
    transform: translateX(0);
}

.social-media-icon {
    transition: color, transform 0.3s ease-in-out;
}

.social-media-icon:hover {
    transform: scale(1.10) translateY(-5px);
}

.fixed-email {
    transition: color 0.3s ease-in-out;
}